# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
utils/Semaphores/synonym_amis_semaphores.sql
utils/Semaphores/amis_semaphores.spb
utils/Semaphores/amis_semaphores.sps
utils/Semaphores/amis_semaphores.sql
utils/Semaphores/check_semaphores.sql
utils/Semaphores/semaphores.zip
utils/Logger/plsql/logger - Copy.spk
*.bookmarks
*.png
*.zip
utils/Timer/_archive/timer.pkb
utils/Timer/_archive/timer.spb
utils/Timer/_archive/timer.pks
utils/Timer/_archive/timer.spk
utils/Timer/_archive/timer.sps
utils/Logger/_archive/APEX/logging_Apex4.sql
utils/Logger/_archive/Logging_full.sql
utils/Logger/_archive/Log_Demo.sql
utils/Logger/_archive/plsql/amislog.spb
utils/Logger/_archive/plsql/amislog.spk
utils/Logger/_archive/plsql/amislog.sps
utils/Logger/_archive/plsql/barlog.spk
utils/Logger/_archive/plsql/logger.spk
utils/Logger/_archive/sql/create_table_AMIS_LOG.sql
utils/Logger/_archive/sql/create_table_AMIS_LOG_SETTINGS.sql
utils/Logger/_archive/sql/create_table_BAR_LOG.sql
utils/Logger/_archive/sql/create_table_LOGGER_LOG.sql
utils/Logger/_archive/sql/create_table_LOGGER_LOG_SETTINGS.sql
utils/Logger/_archive/sql/grant_amislog.sql
utils/Logger/_archive/sql/grant_logger.sql
utils/Logger/_archive/sql/query_table_AMIS_LOG.sql
utils/Logger/_archive/sql/query_table_BAR_LOG.sql
